/* ipad横屏 */
/* @media only screen
	and (min-device-width : 768px)
	and (max-device-width : 1024px){ */
	/* style */
	html{
		height: 100%;
	}
	body{
		height: 100%;
		position: relative;
		background-image: url("../images/controlbg.png");
		background-size: 100% 100%;
		background-attachment:fixed;		
		background-color:#64404a;
	}	
	.header .left{
		margin-left: 35px;
	}
	.header .back{
		position: absolute;
		left: -6px;
		top: 29px;
	}
	/*main部分 start*/
	.main{
		position: absolute;
		top: 85px;
		left: 0px;
		padding-left: 2px;
		overflow-y: scroll;
		padding-bottom: 53px;
	}
	.main>div{
		width: 249px;
		height: 215px;
		background:#1b1822;
		margin: 3px;
		float: left;
		position: relative;
	}
	.block span{
		color:#b5b5b5;
		font-family: SFUIDisplay-Light;
		position: absolute;
		left: 15px;
		top: 15px;
	}
	.block2 span{
		color:#b5b5b5;
		font-family: SFUIDisplay-Light;
		position: absolute;
		left: 15px;
		top: 15px;
	}
	.block4 .name{
		color:#b5b5b5;
		font-family: SFUIDisplay-Light;
		position: absolute;
		left: 15px;
		top: 15px;
	}
	.block img{
		position: absolute;
		left: 86px;
		top: 66px;
	}
	.block1 img.imgtop{
		width: 60px;
		position: absolute;
		left: 92px;
		top: 28px;
	}
	.block1 img{
		width: 50px;
	}
	.block1 .img0{
		position: absolute;
		left: 30px;
		top: 128px;
	}
	.block1 .img1{
		position: absolute;
		left: 102px;
		top: 128px;
	}
	.block1 .img2{
		position: absolute;
		right: 30px;
		top: 128px;
	}
	.block2 .imgtop{
		width: 90px;
		position: absolute;
		left: 76px;
		top: 35px;
	}
	.block2 .img0{
		width: 200px;
		position: absolute;
		left: 27px;
		top: 155px;
	}
	.block2 .img1{
		width: 20px;
		position: absolute;
		left: 23px;
		top: 146px;
	}
	.block3 .imgtop{
		width: 35px;
		position: absolute;
		left: 15px;
		top: 15px;
	}
	.block3 .img0{
		width: 52px;
		position: absolute;
		left: 104px;
		top: 50px;
	}
	.block3 .img1{
		width: 36px;
		position: absolute;
		left: 59px;
		top: 132px;
	}
	.block3 .img2{
		width: 36px;
		position: absolute;
		left: 154px;
		top: 132px;
	}
	.block4 .imgtop{
		width: 20px;
		position: absolute;
		left: 15px;
		top: 15px;
	}
	.block4 .weather{
		color:#b5b5b5;
		font-size: 24px;
		text-align: center;
		line-height: 215px;
		font-family:SFUIDisplay-Thin;
	}
	.block4 .add{
		width: 40px;
		position: absolute;
		left: 172px;
		top: 91px;
	}
	.block4 .jian{
		width: 44px;
		position: absolute;
		left: 40px;
		top: 87px;
	}
	.chuanglian span,.chuangsha span,.yuchuanglian span{
		display: block;
		width: 50px;
		height: 50px;
	}
	.chuanglian .img0{
		background: url(../images/controlroom/curtain_open_btn1.png);
		background-size: 100% 100%;
	}
	.chuanglian .img0.cur{
		background: url(../images/controlroom/curtain_open_btn.png);
		background-size: 100% 100%;
	}
	.chuanglian .img2{
		background: url(../images/controlroom/curtain_close_btn1.png);
		background-size: 100% 100%;
	}
	.chuanglian .img2.cur{
		background: url(../images/controlroom/curtain_close_btn.png);
		background-size: 100% 100%;
	}
	.chuangsha .img0{
		background: url(../images/controlroom/curtain_open_btn1.png);
		background-size: 100% 100%;
	}
	.chuangsha .img0.cur{
		background: url(../images/controlroom/curtain_open_btn.png);
		background-size: 100% 100%;
	}
	.chuangsha .img2{
		background: url(../images/controlroom/curtain_close_btn1.png);
		background-size: 100% 100%;
	}
	.chuangsha .img2.cur{
		background: url(../images/controlroom/curtain_close_btn.png);
		background-size: 100% 100%;
	}
	.yuchuanglian .img0{
		background: url(../images/controlroom/curtain_open_btn1.png);
		background-size: 100% 100%;
	}
	.yuchuanglian .img0.cur{
		background: url(../images/controlroom/curtain_open_btn.png);
		background-size: 100% 100%;
	}
	.yuchuanglian .img2{
		background: url(../images/controlroom/curtain_close_btn1.png);
		background-size: 100% 100%;
	}
	.yuchuanglian .img2.cur{
		background: url(../images/controlroom/curtain_close_btn.png);
		background-size: 100% 100%;
	}
	/*main部分 end*/		
/* } */