/* ipad横屏 */
@media only screen
	and (min-device-width : 768px)
	and (max-device-width : 1024px){
	/* style */
	html{
		width: 1024px;
		height: 100%;
	}
	body{
		width: 1024px;
		height: 100%;
		background-image: url(../images/detaillist/14.png);
		background-size: 100% 100%;
		background-attachment:fixed;
		background-position: center;
		position: relative;
		z-index: -10;
		overflow: hidden;
	}	
	/*main部分 start*/
	.main{
		/*margin-top: 90px;*/
		position: absolute;
		top: 90px;
		left: 0px;
	}
	.main>div{
		float: left;
	}
	.main .left{
		margin-left: 10px;
		height: 619px;
	}
	.main .left>img{
		width: 600px;
		height: 365px;
	}
	.main .left>p{
		font-family:SFUIDisplay-Thin;
		font-size:18px;
		color:#eaeaea;
		letter-spacing:0.35px;
		text-align:left;
		margin-top: 28px;
		margin-bottom: 17px;
	}
	.main .left .dapei{
		height: 190px;
	}
	.dapei .min{
		float: left;
		width: 194px;
		height: 190px;
		margin-right: 10px;
		margin-bottom: 10px;
		background:#131318;
		box-shadow:0 2px 6px 0 rgba(19,19,24,0.20);
		position: relative;
	}
	.dapei .min a{
		height: 115px;
		width: 194px;
	}
	.dapei .min img{
		height: 115px;	
		width: 194px;	
	}
	.dapei .min p{
		font-family:SFUIDisplay-Thin;
		font-size:14px;
		color:#eaeaea;
		text-align:left;
		margin-left: 7px;
		width: 178px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.dapei .min .foodname{
		margin-top: 7px;
		margin-bottom: 10px;		
	}
	.dapei .min .detail{
		font-family:SFUIDisplay-Thin;
		font-size:10px;
		color:#a0a0a0;
		text-align:left;
		margin-top: 10px;
	}
	.dapei .min .cart{
		width: 25px;
		height: 25px;
		position: absolute;
		right: 13px;
		bottom: 25px;
	}
	.main .right{
		height: 622px;
		width: 342px;
		padding-left: 25px;
		padding-right: 25px;		
		/*opacity:0.6;*/
		/*background:#131318;*/
		background: #131419;
		box-shadow:0 2px 6px 0;
		/*background: rgba(19,19,24,0.60);*/ 
		position: relative;
		overflow-y:scroll;
	}
	.main .right>img{
		width: 20px;
		position: absolute;
		left: -15px;
		top: 100px;
	}
	.main .right li{
		border-bottom:1px solid #0a0a0c;
	}
	.main .right .li4{
		border-bottom:0 none;
	}
	.li1{
		height: 70px;
		line-height: 70px;
	}
	.li1 span{
		font-family:SFUIDisplay-Light;
		font-size:23px;
		color:#eaeaea;
		letter-spacing:0.47px;
		float: left;
	}
	.li1 span.price{
		font-family:SFUIDisplay-Light;
		font-size:24px;
		color:#d2ac2b;
		letter-spacing:0.47px;
		float: right;
	}
	.li2{
		height: 85px;
	}
	.li2 p{
		font-family:SFUIDisplay-Light;
		font-size:17px;
		color:#7e7e8b;
		letter-spacing:0.45px;
		margin-top: 12px;
	}
	.li2 p.p2{
		font-family:SFUIDisplay-Thin;
		font-size:17px;
		color:#eaeaea;
		letter-spacing:0;
		line-height: 23px;		
		
	}
	.li2 .p2.milit{
		font-family:SFUIDisplay-Thin;
		font-size:17px;
		color:#eaeaea;
		letter-spacing:0;
		line-height: 23px;		
		height: 70px;
		overflow: hidden;
	}
	.li3{
		height: 100px;
		position: relative;
	}
	.li1 span.price.go{
		display: none;
	}
	.li3.go{
		display: none;
	}
	.li4.go{
		display: none;
	}
	.li3 p{
		font-family:SFUIDisplay-Light;
		font-size:17px;
		color:#7e7e8b;
		letter-spacing:0.45px;
		margin-top: 19px;
		margin-bottom: 19px;
	}
	.li3 img{
		width: 40px;
		height: 40px;
	}
	.li3 #detailminus{
		position: absolute;
		left: -7px;
		top: 36px;
	}
	.li3 #detailadd{
		position: absolute;
		left: 80px;
		top: 36px;
	}
	.li3 #detailnum{
		font-family:SFUIDisplay-Light;
		font-size:17px;
		color:#eaeaea;
		text-align:center;
		margin-left: 21px;
		margin-right: 21px;
		margin-top: -10px;
		position: absolute;
		left: 31px;
		top: 57px;
	}
	.li3 .addmus{
		height: 25px;
		line-height: 25px;
	}
	.li3 button{
		background:#d2ac2b;
		border-radius:5px;
		height:38px;
		position: absolute;
		right: 25px;
		bottom: 15px;		
		font-family:SFUIDisplay-Light;
		font-size:17px;
		color:#eaeaea;
		letter-spacing:0.33px;
		text-align:left;
	}
	.li4 p{
		font-family:SFUIDisplay-Light;
		font-size:17px;
		color:#7e7e8b;
		letter-spacing:0.45px;
		margin-top: 19px;
	}
	.li4 p.detail{
		font-family:SFUIDisplay-Thin;
		color:#eaeaea;
		letter-spacing:0;
		line-height:25px;
		text-align:justify;
	}
	/*main部分 end*/	
	/*蒙板部分 start*/
	.mengban{
		display: none;
		width: 1024px;
		height: 768px;
		position:fixed;
		z-index: 100;	
		/*opacity:0.6;*/	
		opacity:0.86;
		background:#131318;
	}
	.mengban.cur{
		display: block;
	}
	.mengban>img{
		width: 44px;
		height: 44px;
		position: absolute;
		top: 103px;
		right: 171px;
	}
	.mbmain{
		opacity:1;
		background:#ffffff;
		border-radius:12px;
		width:562px;
		height:432px;
		position: absolute;
		top: 145px;
		left: 207px;
		padding: 30px 24px 30px 24px;
	}
	.mengban>button{
		background:#d2ac2b;
		border-radius:5px;
		width:153px;
		height:43px;
		position: absolute;
		left: 440px;
		bottom: 162px;
		font-family:SFUIDisplay-Light;
		font-size:19px;
		color:#eaeaea;
		letter-spacing:0.47px;
		text-align:center;
		border: 0 none;
	}
	.mbmain>p{
		height: 39px;
		border-bottom:1px solid #c0c0c5;
	}
	.mbmain>p span{
		font-family:SFUIDisplay-Light;
		font-size:24px;
		color:#202028;
		letter-spacing:0.47px;
		margin-top: -2px;
	}
	.mbmain>p span.mbprice{
		font-family:SFUIDisplay-Light;
		font-size:30px;
		color:#d2ac2b;
		letter-spacing:0.59px;
		float: right;
		margin-top: -7px;
	}
	.mbmain>p span.mbprice>span{
		font-family:SFUIDisplay-Light;
		font-size:30px;
		color:#d2ac2b;
		letter-spacing:0.59px;
		float: right;
		margin-top: -7px;
	}
	.mbmain li p{
		font-family:SFUIDisplay-Light;
		font-size:14px;
		color:#98989d;
		letter-spacing:0.41px;
		text-align:left;
		margin-top: 19px;
		margin-bottom: 13px;
	}
	.mbmain li button{
		border:1px solid #7e7e8b;
		border-radius:3px;
		height:32px;
		color:#7e7e8b;
		font-family:SFUIDisplay-Light;
		font-size:17px;
		color:#7e7e8b;
		letter-spacing:0.45px;
		text-align:left;
		padding-left: 20px;
		padding-right: 20px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.mbmain .size button{
		font-family:SFUIDisplay-Light;
		font-size:17px;		
		letter-spacing:0.45px;
		text-align: center;
		line-height: 32px;
		padding-left: 32px;
		padding-right: 32px;		
	}
	.mbmain .size button.cur,.mbmain button.cur{
		color:#d2ac2b;
		border:1px solid #d2ac2b;
	}
	/*蒙板部分 end*/	
	.datailleft{
		margin-left: 50px !important;
	}
	.back{
		position: absolute;
		left: 6px;
		top: 30px;
	}
}