/* ipad 横屏 */
@media only screen
	and (min-device-width : 768px)
	and (max-device-width : 1024px){
	/* style */
	html{
		height: 100%;
	}
	body{
		width: 1024px;
		height: 100%;
	}
	.content{
		width: 1024px;
		height: 768px;
		background-image: url(../images/index/roomnumber_bg_1x.png);
		background-size: 100% 100%;
		position: relative;
	}
	.content h3{
		font-family:SFUIDisplay-Light;
		font-size:43px;
		color:#eaeaea;
		letter-spacing:0.85px;
		text-align:left;
		padding-left: 390px;
		padding-top: 135px;
	}
	.content .text{
		font-family:SFUIDisplay-Light;
		font-size:19px;
		color:#eaeaea;
		letter-spacing:0;
		line-height:26px;
		text-align:center;
		margin: 32px auto;
		width: 690px;
		line-height:30px;
		margin-bottom: 50px;
	}
	.content input{
		display: block;
		width: 323px;
		height: 55px;
		background:#54545b;
		border-radius:5px;
		margin-left: 342px;
		font-family:SFUIDisplay-Thin;
		font-size:19px;
		color: #ffffff;
		letter-spacing:0;
		caret-color:#e5bd36;
		text-align: center;
	}
	.content button{
		border:1px solid #e5bd36;
		border-radius:5px;
		width: 343px;
		height: 55px;
		margin-top: 47px;
		font-family:SFUIDisplay-Light;
		font-size:20px;
		color:#e5bd36;
		letter-spacing:0;
		text-align:center;
		background-color: transparent;
		margin-left: 342px;
	}
	.tishi{
		position: absolute;
		left: 342px;
		top:480px;
		font-size: 14px;
		color: #ff2626;
		display: none;
	}
	.tishi.cur{
		display: block;
	}
	.tishi1{
		font-family:SFUIDisplay-Light;
		font-size:19px;
		color:#eaeaea;
		letter-spacing:0;
		line-height:26px;
		text-align:center;
		line-height:30px;
		margin-bottom: 18px;
		margin-top: 20px;
	}
	
}